*{
    margin: 0;
    padding: 0;
    font-size: small;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #3498DB;
}

#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    z-index: 2;
    background-color: whitesmoke;
}

#main div{
    margin: 20px;
}

.btn-model {
    background-color: #3498DB;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
}

.Model-dropdown{
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    display: inline-block;
}

.Model-dropdown .number{
    margin-top: 50px;
    position: absolute;
    top: -40px;
    left: 150px;
    font-size: 12px;
    font-weight: 700;
}

.Model-dropdown-content{
    display: none;
    position: absolute;
    top: 50px;
    background: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.Model-dropdown-content button{
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.Model-dropdown-content button:hover {background-color: #ddd}

.Model-dropdown:hover .Model-dropdown-content {
    display: block;
}

.Model-dropdown2 .number-Thick{
    position: absolute;
    top: 10px;
    left: 150px;
    font-weight: 700;
}

.Model-dropdown2{
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    display: inline-block;
}


.Model-dropdown-content2{
    display: none;
    position: absolute;
    background: #f1f1f1;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.Model-dropdown-content2 button{
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}

.Model-dropdown-content2 button:hover {background-color: #ddd}

.Model-dropdown2:hover .Model-dropdown-content2 {
    display: block;
}

input , label {
    width: 100px;
    height: 50px;
}

#Weight{
    position: absolute;
    top: 520px;
    left: 600px;
    font-weight: 700;
}

#Weight-label{
    position: absolute;
    top: 800px;
    left: 600px;
    font-weight: 700;
}

.added-materials{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.added-materials .added-materials-div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

label{
    font-weight: 700;
}


.Reduced-materials{
    display: flex;
    flex-direction: column;
}

.Reduced-materials .Reduced-materials-div{
    display: flex;
    flex-direction: column;
}

label{
    font-weight: 700;
}

.total{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}